<div class="container">
  <div class="title"><h2>My bookings</h2></div>
  <div class="bookings">
  <% @user_bookings.each do |booking| %>

      <div class="card-booking">
        <div class="card-animal-img">
          <%if  booking.animal.photo.attached? %>
            <%= cl_image_tag booking.animal.photo.key%>
          <% else %>
            <img src="https://source.unsplash.com/random/300×300/?animal">
          <% end %>
        </div>
        <div class="card-booking-infos">
          <div class="d-flex justify-content-start align-items-center">
            <h3 class="mr-3"><%= booking.animal.name.capitalize %></h3>
            <%= link_to "Book again", show_available_animal_path(booking.animal), id: "animal-link"%>
          </div>
            <p><%= booking.animal.species.capitalize %></p>
            <h5><%= booking.start_date %> - <%= booking.end_date %> </h5>
            <%= link_to "Leave a review", new_review_path(booking), class: "profile-link" %>

        </div>

    </div>


  <% end %>
  </div>
</div>
