<div class="container">
  <div class="row">
    <div class="col-12 col-sm-8 col-md-4 offset-sm-2 offset-md-4">
      <h2>Add a new animal</h2>
      <%= simple_form_for @animal do |f| %>
      <%= f.input :name, placeholder: "Milou" %>
      <%= f.input :species, placeholder: "Dog" %>
      <%= f.input :description, placeholder: "Color, behavior, age, etc." %>
      <%= f.input :address, placeholder: "London" %>
      <%= f.input :available, as: :radio_buttons, collection: ['Yes', 'No'] %>
      <%= f.submit class: 'btn btn-primary'  %>
      <% end %>
    </div>
  </div>
</div>
