<div class="container" id="new-booking">
  <div class="title">
    <h2>Book <%= @animal.name %> now!</h2>
  </div>
  <div class="date-form">
    <%= simple_form_for [ @animal, @booking ] do |f| %>
      <%= f.error_notification %>
      <%= f.input :start_date, as: :string, required: true, label: false, input_html: {class: "datepicker", placeholder: "Start date", type: "date"}, error: "check date"  %>
      <%= f.input :end_date, as: :string, required: true, label: false, input_html: {class: "datepicker", placeholder: "End date", type: "date"}, error: "check date"  %>
      <%= f.submit 'Book now', class: 'btn btn-primary m-5 align-middle', id: 'btn-booking' %>
    <% end %>
    <% flash.each do |type, msg| %>
      <div><%= msg %></div>
    <% end %>
    <%= @booking.errors[:end_date] %>
</div>
