<div class="animal-img">
  <%= cl_image_tag @animal.photo.key, height:280, width: 375, crop: :fill%>
</div>

<% if @animal.available %>
  <%= link_to "Check availability", show_available_animal_path(@animal), class: "btn btn-primary", id: "btn-available" %>
<% else %>
  <%= link_to "Not available", "#", id: "btn-available-disabled"%>
<% end %>

<div class="container" id="animal-profile">
  <div class="title">
    <h2 id="animal-name"><%= @animal.name %></h2>
    <div class="rating-details d-flex justify-content-start">
      <h5><i class="fas fa-star" id="rating-star"></i></h5>
      <P>&nbsp;&nbsp;4.58 (12 reviews)</P>
    </div>


  </div>

    <div class="animal-info">
      <h5><%= @animal.species %></h5>
      <p>Owner:<%= @animal.user.name%></p>
      <p><%= @animal.description %></p>

    </div>

    <hr/>


    <div id="map" style="width: 100%; height: 200px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

    <hr/>
    <div class="reviews">
    <% sum = 0 %>
    <% number_of_bookings = @animal.bookings.count %>
      <% @animal.bookings.order(created_at: :desc).each do |booking|  %>
          <% if booking.review.blank? == false %>
            <div id="card-review">
              <P><i class="fas fa-star"></i> <%= booking.review.rating %> </P>
              <P><%= booking.review.content %></P>
              <p>by <%= booking.user.name%></p>
            </div>

            <% sum = sum + booking.review.rating %>

          <% end %>
      <% end %>
      <%# <% average = (sum / number_of_bookings).to_f if booking.review.blank? == false %>
    </div>
</div>
