<h1><%= @animal.name %> <small><%= @animal.address %></small></h1>

<div id="bookings">
  <% if @animal.bookings.blank? %>
    Be the first to book <%= @animal.name %> !
  <% else %>
    <% @animal.bookings.each do |booking| %>
      <p><%= booking.content %></p>
    <% end %>
  <% end %>
</div>

<div class="container">
  <%= simple_form_for [ @animal, @booking ] do |f| %>
    <%= f.input :start_date, as: :date %>
    <%= f.input :end_date, as: :date %>
    <%= f.button :submit %>
  <% end %>
</div>
