<div class="container">
  <h1>Meet <%= @animal.name %> !</h1>
  <p><%= @animal.name %> is a <%= @animal.species %>, it has <%= pluralize @animal.bookings.size, "booking" %> </p>
  <%= cl_image_tag @article.photo.key, height: 300, width: 400, crop: :fill %>

<div id="bookings">
    <% if @animal.bookings.blank? %>
      Be the first to book <%= @animal.name %> !
    <% else %>
      <% @animal.bookings.each do |booking| %>
        <p><%= @animal.name %> was booked on <%= booking.start_date %> by <%= booking.user.email %></p>
      <% end %>
    <% end %>
  </div>

  <%= simple_form_for [ @animal, @booking ] do |f| %>
    <%= f.input :start_date, as: :string, required: true, input_html: {class: "datepicker"} %>
    <%= f.input :end_date, as: :string, required: true, input_html: {class: "datepicker"} %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>

</div>
