<div class="container" id="new-booking">
  <div class="title-booking">
    <h2>Book <%= @animal.name %> now!</h2>
  </div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div class="date-form">
    <%= simple_form_for [ @animal, @booking ] do |f| %>
      <%= f.error_notification %>
      <%= f.input :start_date, as: :string, required: true, label: false, input_html: {class: "datepicker", placeholder: "Start date", type: "date"}, error: "check date"  %>
      <%= f.input :end_date, as: :string, required: true, label: false, input_html: {class: "datepicker", placeholder: "End date", type: "date"}, error: "check date"  %>
      <%= f.submit 'Book now', class: 'btn btn-primary m-5 align-middle', id: 'btn-booking' %>
    <% end %>
</div>
