<h1><%= @animal.name %> <small><%= @animal.address %></small></h1>
<h2>
  <%= pluralize @animal.bookings.size, "booking" %>
</h2>

<div id="bookings">
  <% if @animal.bookings.blank? %>
    Be the first to leave a booking for <%= @animal.name %>
  <% else %>
    <% @animal.bookings.each do |booking| %>
      <p><%= booking.content %></p>
    <% end %>
  <% end %>
</div>
