<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<div class="container" id="new-booking">
  <div class="title">
    <h2>Book <%= @animal.name %> now!</h2>
  </div>
  <div class="date-form">
    <%= simple_form_for [ @animal, @booking ] do |f| %>
      <%= f.input :start_date, as: :string, required: true, label: false, input_html: {class: "datepicker", placeholder: "Start date", type: "date"}  %>
      <%= f.input :end_date, as: :string, required: true, label: false, input_html: {class: "datepicker", placeholder: "End date", type: "date"} %>
      <%= f.submit 'Book now', class: 'btn btn-primary m-5 align-middle', id: 'btn-booking' %>
    <% end %>

    <%# <br>

    <form>
      <input class='form-control' type="date" placeholder="Hello I'm a placeholder">
    </form> %>
</div>


<div class="container" id="past-bookings">
    <p><%= @animal.name.capitalize %> has been booked <%= pluralize @animal.bookings.size, "times" %> </p>

    <div id="bookings">
      <% if @animal.bookings.blank? %>
        Be the first to book <%= @animal.name.capitalize %> !
      <% else %>
        <% @animal.bookings.each do |booking| %>
          <p>From <%= booking.start_date %> to <%= booking.end_date %> by <%= booking.user.name %> </p>
        <% end %>
      <% end %>
    </div>
</div>

<script>
  flatpickr("input[type=date]", {});
</script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
