<div class="container">
  <h1>Meet <%= @animal.name %> !</h1>
  <div class="d-flex justify-content-start">
    <h3><%= @animal.name %>is currently <%= @animal.available ? 'free for booking' : 'not available'%>.</h3>
    <div class="ml-3"><%= link_to "Update availability", edit_animal_path, class: "btn btn-primary"%></div>
  </div>
  <p><%= @animal.name %> is a <%= @animal.species %>, it has <%= pluralize @animal.bookings.size, "booking" %> </p>

<div id="bookings">
    <% if @animal.bookings.blank? %>
      Be the first to book <%= @animal.name %> !
    <% else %>
      <% @animal.bookings.each do |booking| %>
        <p><%= @animal.name %> is booked on <%= booking.start_date %> by <%= booking.user.email %></p>
      <% end %>
    <% end %>
  </div>

  <%= simple_form_for [ @animal, @booking ] do |f| %>
    <%= f.input :start_date, as: :string, required: true, input_html: {class: "datepicker"} %>
    <%= f.input :end_date, as: :string, required: true, input_html: {class: "datepicker"} %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>



</div>
