<link href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" rel="stylesheet"/>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div class="container">
  <div class="title-booking"><h2>Leave a review</h2></div>

  <div class="review-form">
    <div class="container-stars">
      <% (1..5).each do |i| %>
        <i class="far fa-star rating_star" data-stars=<%= "#{i}" %> id=<%= "s#{i}" %>></i>
      <% end %>
    </div>

    <%= simple_form_for [ @booking, @review ] do |f| %>
        <%= f.hidden_field :rating, as: :integer, id: "stars", required: true, label:false, input_html: { placeholder: "Rating (1-5)" } %>
        <%= f.input :content, as: :text, label:false, input_html: { placeholder: "Let us know what you think :)" } %>
        <%= f.submit class: 'btn btn-primary', id: 'btn-review' %>
    <% end %>
  </div>
</div>
